<%@ Page Language="c#" Inherits="CKFinder.Connector.Connector" Trace="false" AutoEventWireup="false" %>
<%@ Register Src="../../../config.ascx" TagName="Config" TagPrefix="CKFinder" %>
<%--
 * CKFinder
 * ========
 * http://cksource.com/ckfinder
 * Copyright (C) 2007-2015, CKSource - Frederico Knabben. All rights reserved.
 *
 * The software, this file and its contents are subject to the CKFinder
 * License. Please read the license.txt file before using, installing, copying,
 * modifying or distribute this file or part of its contents. The contents of
 * this file is part of the Source Code of CKFinder.
 *
 * ---
 * This is the ASP.NET connector for CKFinder.
 *
 * You must copy the CKFinder.Connector.dll file to your "bin" directory or
 * make a reference to it in your Visual Studio project.
--%>
<CKFinder:Config ID="ConfigFile" runat="server" />
<script runat="server">
    protected void Page_Load(object sender, EventArgs e)
        {
            var upload = Request.Files["upload"];
            string CKEditorFuncNum = Request["CKEditorFuncNum"];
            string CKEditor = Request["CKEditor"];
            string langCode = Request["langCode"];
        }
</script>