﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="DateTimeRange.ascx.cs" Inherits="tabc_201709.Manager.ascx.DateTimeRange" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="asp" %>
<asp:TextBox ID="txt_sDate" runat="server" MaxLength="10" Width="80px"></asp:TextBox>
<asp:DropDownList ID="ddl_sTime" runat="server">
    <asp:ListItem></asp:ListItem>
    <asp:ListItem>00:00</asp:ListItem>
    <asp:ListItem>00:30</asp:ListItem>
    <asp:ListItem>01:00</asp:ListItem>
    <asp:ListItem>01:30</asp:ListItem>
    <asp:ListItem>02:00</asp:ListItem>
    <asp:ListItem>02:30</asp:ListItem>
    <asp:ListItem>03:00</asp:ListItem>
    <asp:ListItem>03:30</asp:ListItem>
    <asp:ListItem>04:00</asp:ListItem>
    <asp:ListItem>04:30</asp:ListItem>
    <asp:ListItem>05:00</asp:ListItem>
    <asp:ListItem>05:30</asp:ListItem>
    <asp:ListItem>06:00</asp:ListItem>
    <asp:ListItem>06:30</asp:ListItem>
    <asp:ListItem>07:00</asp:ListItem>
    <asp:ListItem>07:30</asp:ListItem>
    <asp:ListItem>08:00</asp:ListItem>
    <asp:ListItem>08:30</asp:ListItem>
    <asp:ListItem>09:00</asp:ListItem>
    <asp:ListItem>09:30</asp:ListItem>
    <asp:ListItem>10:00</asp:ListItem>
    <asp:ListItem>10:30</asp:ListItem>
    <asp:ListItem>11:00</asp:ListItem>
    <asp:ListItem>11:30</asp:ListItem>
    <asp:ListItem>12:00</asp:ListItem>
    <asp:ListItem>12:30</asp:ListItem>
    <asp:ListItem>13:00</asp:ListItem>
    <asp:ListItem>13:30</asp:ListItem>
    <asp:ListItem>14:00</asp:ListItem>
    <asp:ListItem>14:30</asp:ListItem>
    <asp:ListItem>15:00</asp:ListItem>
    <asp:ListItem>15:30</asp:ListItem>
    <asp:ListItem>16:00</asp:ListItem>
    <asp:ListItem>16:30</asp:ListItem>
    <asp:ListItem>17:00</asp:ListItem>
    <asp:ListItem>17:30</asp:ListItem>
    <asp:ListItem>18:00</asp:ListItem>
    <asp:ListItem>18:30</asp:ListItem>
    <asp:ListItem>19:00</asp:ListItem>
    <asp:ListItem>19:30</asp:ListItem>
    <asp:ListItem>20:00</asp:ListItem>
    <asp:ListItem>20:30</asp:ListItem>
    <asp:ListItem>21:00</asp:ListItem>
    <asp:ListItem>21:30</asp:ListItem>
    <asp:ListItem>22:00</asp:ListItem>
    <asp:ListItem>22:30</asp:ListItem>
    <asp:ListItem>23:00</asp:ListItem>
    <asp:ListItem>23:30</asp:ListItem>
</asp:DropDownList>
<asp:CalendarExtender ID="txt_sDate_CalendarExtender" runat="server" DaysModeTitleFormat="yyyy年M月" Enabled="True" Format="yyyy/MM/dd" TargetControlID="txt_sDate" TodaysDateFormat="yyyy年M月d日"></asp:CalendarExtender>
～<asp:TextBox ID="txt_eDate" runat="server" MaxLength="10" Width="80px"></asp:TextBox>
<asp:CalendarExtender ID="txt_eDate_CalendarExtender" runat="server" DaysModeTitleFormat="yyyy年M月" Enabled="True" Format="yyyy/MM/dd" TargetControlID="txt_eDate" TodaysDateFormat="yyyy年M月d日"></asp:CalendarExtender>
<asp:DropDownList ID="ddl_eTime" runat="server">
    <asp:ListItem></asp:ListItem>
    <asp:ListItem>00:00</asp:ListItem>
    <asp:ListItem>00:30</asp:ListItem>
    <asp:ListItem>01:00</asp:ListItem>
    <asp:ListItem>01:30</asp:ListItem>
    <asp:ListItem>02:00</asp:ListItem>
    <asp:ListItem>02:30</asp:ListItem>
    <asp:ListItem>03:00</asp:ListItem>
    <asp:ListItem>03:30</asp:ListItem>
    <asp:ListItem>04:00</asp:ListItem>
    <asp:ListItem>04:30</asp:ListItem>
    <asp:ListItem>05:00</asp:ListItem>
    <asp:ListItem>05:30</asp:ListItem>
    <asp:ListItem>06:00</asp:ListItem>
    <asp:ListItem>06:30</asp:ListItem>
    <asp:ListItem>07:00</asp:ListItem>
    <asp:ListItem>07:30</asp:ListItem>
    <asp:ListItem>08:00</asp:ListItem>
    <asp:ListItem>08:30</asp:ListItem>
    <asp:ListItem>09:00</asp:ListItem>
    <asp:ListItem>09:30</asp:ListItem>
    <asp:ListItem>10:00</asp:ListItem>
    <asp:ListItem>10:30</asp:ListItem>
    <asp:ListItem>11:00</asp:ListItem>
    <asp:ListItem>11:30</asp:ListItem>
    <asp:ListItem>12:00</asp:ListItem>
    <asp:ListItem>12:30</asp:ListItem>
    <asp:ListItem>13:00</asp:ListItem>
    <asp:ListItem>13:30</asp:ListItem>
    <asp:ListItem>14:00</asp:ListItem>
    <asp:ListItem>14:30</asp:ListItem>
    <asp:ListItem>15:00</asp:ListItem>
    <asp:ListItem>15:30</asp:ListItem>
    <asp:ListItem>16:00</asp:ListItem>
    <asp:ListItem>16:30</asp:ListItem>
    <asp:ListItem>17:00</asp:ListItem>
    <asp:ListItem>17:30</asp:ListItem>
    <asp:ListItem>18:00</asp:ListItem>
    <asp:ListItem>18:30</asp:ListItem>
    <asp:ListItem>19:00</asp:ListItem>
    <asp:ListItem>19:30</asp:ListItem>
    <asp:ListItem>20:00</asp:ListItem>
    <asp:ListItem>20:30</asp:ListItem>
    <asp:ListItem>21:00</asp:ListItem>
    <asp:ListItem>21:30</asp:ListItem>
    <asp:ListItem>22:00</asp:ListItem>
    <asp:ListItem>22:30</asp:ListItem>
    <asp:ListItem>23:00</asp:ListItem>
    <asp:ListItem>23:30</asp:ListItem>
</asp:DropDownList>

