﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ScheduleCalendar.aspx.cs" Inherits="tabc_201709.Manager.ascx.ScheduleCalendar" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body style="padding: 0px; margin: 0px">
    <form id="form1" runat="server">
    
                                                <asp:Calendar ID="Calendar_top" runat="server" BackColor="#FFFFCC" BorderColor="#FFCC66" BorderWidth="1px" DayNameFormat="Shortest" Font-Names="Verdana" Font-Size="8pt" ForeColor="#663399" Height="150px" ShowGridLines="True" Width="220px" Font-Underline="False" OnDayRender="Calendar_top_DayRender">
                                                    <DayHeaderStyle BackColor="#FFCC66" Font-Bold="True" Height="1px" />
                                                    <NextPrevStyle Font-Size="9pt" ForeColor="#FFFFCC" />
                                                    <OtherMonthDayStyle ForeColor="#CC9966" />
                                                    <SelectedDayStyle BackColor="#CCCCFF" Font-Bold="True" />
                                                    <SelectorStyle BackColor="#FFCC66" />
                                                    <TitleStyle BackColor="#EA5800" Font-Bold="True" Font-Size="9pt" ForeColor="#FFFFCC" />
                                                    <TodayDayStyle BackColor="#FFCC66" ForeColor="White" />
                                                </asp:Calendar>
    
    </form>
</body>
</html>
