﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="TimeRangeAll.ascx.cs" Inherits="tabc_201709.Manager.ascx.TimeRangeAll" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="asp" %>
<asp:DropDownList ID="ddl_sTime" runat="server">
    <asp:ListItem></asp:ListItem>
    <asp:ListItem>00:00</asp:ListItem>
    <asp:ListItem>00:30</asp:ListItem>
    <asp:ListItem>01:00</asp:ListItem>
    <asp:ListItem>01:30</asp:ListItem>
    <asp:ListItem>02:00</asp:ListItem>
    <asp:ListItem>02:30</asp:ListItem>
    <asp:ListItem>03:00</asp:ListItem>
    <asp:ListItem>03:30</asp:ListItem>
    <asp:ListItem>04:00</asp:ListItem>
    <asp:ListItem>04:30</asp:ListItem>
    <asp:ListItem>05:00</asp:ListItem>
    <asp:ListItem>05:30</asp:ListItem>
    <asp:ListItem>06:00</asp:ListItem>
    <asp:ListItem>06:30</asp:ListItem>
    <asp:ListItem>07:00</asp:ListItem>
    <asp:ListItem>07:30</asp:ListItem>
    <asp:ListItem>08:00</asp:ListItem>
    <asp:ListItem>08:30</asp:ListItem>
    <asp:ListItem>09:00</asp:ListItem>
    <asp:ListItem>09:30</asp:ListItem>
    <asp:ListItem>10:00</asp:ListItem>
    <asp:ListItem>10:30</asp:ListItem>
    <asp:ListItem>11:00</asp:ListItem>
    <asp:ListItem>11:30</asp:ListItem>
    <asp:ListItem>12:00</asp:ListItem>
    <asp:ListItem>12:30</asp:ListItem>
    <asp:ListItem>13:00</asp:ListItem>
    <asp:ListItem>13:30</asp:ListItem>
    <asp:ListItem>14:00</asp:ListItem>
    <asp:ListItem>14:30</asp:ListItem>
    <asp:ListItem>15:00</asp:ListItem>
    <asp:ListItem>15:30</asp:ListItem>
    <asp:ListItem>16:00</asp:ListItem>
    <asp:ListItem>16:30</asp:ListItem>
    <asp:ListItem>17:00</asp:ListItem>
    <asp:ListItem>17:30</asp:ListItem>
    <asp:ListItem>18:00</asp:ListItem>
    <asp:ListItem>18:30</asp:ListItem>
    <asp:ListItem>19:00</asp:ListItem>
    <asp:ListItem>19:30</asp:ListItem>
    <asp:ListItem>20:00</asp:ListItem>
    <asp:ListItem>20:30</asp:ListItem>
    <asp:ListItem>21:00</asp:ListItem>
    <asp:ListItem>21:30</asp:ListItem>
    <asp:ListItem>22:00</asp:ListItem>
    <asp:ListItem>22:30</asp:ListItem>
    <asp:ListItem>23:00</asp:ListItem>
    <asp:ListItem>23:30</asp:ListItem>
</asp:DropDownList>
～
<asp:DropDownList ID="ddl_eTime" runat="server">
    <asp:ListItem></asp:ListItem>
    <asp:ListItem>00:00</asp:ListItem>
    <asp:ListItem>00:30</asp:ListItem>
    <asp:ListItem>01:00</asp:ListItem>
    <asp:ListItem>01:30</asp:ListItem>
    <asp:ListItem>02:00</asp:ListItem>
    <asp:ListItem>02:30</asp:ListItem>
    <asp:ListItem>03:00</asp:ListItem>
    <asp:ListItem>03:30</asp:ListItem>
    <asp:ListItem>04:00</asp:ListItem>
    <asp:ListItem>04:30</asp:ListItem>
    <asp:ListItem>05:00</asp:ListItem>
    <asp:ListItem>05:30</asp:ListItem>
    <asp:ListItem>06:00</asp:ListItem>
    <asp:ListItem>06:30</asp:ListItem>
    <asp:ListItem>07:00</asp:ListItem>
    <asp:ListItem>07:30</asp:ListItem>
    <asp:ListItem>08:00</asp:ListItem>
    <asp:ListItem>08:30</asp:ListItem>
    <asp:ListItem>09:00</asp:ListItem>
    <asp:ListItem>09:30</asp:ListItem>
    <asp:ListItem>10:00</asp:ListItem>
    <asp:ListItem>10:30</asp:ListItem>
    <asp:ListItem>11:00</asp:ListItem>
    <asp:ListItem>11:30</asp:ListItem>
    <asp:ListItem>12:00</asp:ListItem>
    <asp:ListItem>12:30</asp:ListItem>
    <asp:ListItem>13:00</asp:ListItem>
    <asp:ListItem>13:30</asp:ListItem>
    <asp:ListItem>14:00</asp:ListItem>
    <asp:ListItem>14:30</asp:ListItem>
    <asp:ListItem>15:00</asp:ListItem>
    <asp:ListItem>15:30</asp:ListItem>
    <asp:ListItem>16:00</asp:ListItem>
    <asp:ListItem>16:30</asp:ListItem>
    <asp:ListItem>17:00</asp:ListItem>
    <asp:ListItem>17:30</asp:ListItem>
    <asp:ListItem>18:00</asp:ListItem>
    <asp:ListItem>18:30</asp:ListItem>
    <asp:ListItem>19:00</asp:ListItem>
    <asp:ListItem>19:30</asp:ListItem>
    <asp:ListItem>20:00</asp:ListItem>
    <asp:ListItem>20:30</asp:ListItem>
    <asp:ListItem>21:00</asp:ListItem>
    <asp:ListItem>21:30</asp:ListItem>
    <asp:ListItem>22:00</asp:ListItem>
    <asp:ListItem>22:30</asp:ListItem>
    <asp:ListItem>23:00</asp:ListItem>
    <asp:ListItem>23:30</asp:ListItem>
</asp:DropDownList>
