﻿@charset "utf-8";


.text01 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 20px;
    color: #1F8192;
    text-decoration: none;
}

.text01_2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    line-height: 20px;
    color: #1F8192;
    text-decoration: none;
}

.text01_3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 20px;
    color: #000000;
    text-decoration: none;
}

.text01_4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    color: #1F8192;
    text-decoration: none;
}

.text02 {
    font-family: Arial, Helvetica, sans-serif;
    /*font-size: 13px;*/
    font-size: 14px;
    line-height: 30px;
    color: #333333;
    text-decoration: none;
}

td.text02 {
    /*padding-left: 4px;
    padding-right: 4px;
    font-size: 13px;*/
    padding-left: 3px;
    padding-right: 3px;
    font-size: 14px;
}

.text03 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    text-decoration: none;
}

.text03_2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 20px;
    color: #333333;
    text-decoration: none;
    text-align: center;
}

td.text03 {
    padding-left: 4px;
    padding-right: 4px;
}

.text04 {
    font-family: "微軟正黑體";
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    text-decoration: none;
}

.text05 {
    font-family: "微軟正黑體";
    font-size: 16px;
    line-height: 22px;
    color: #D2E2EC;
    text-decoration: none;
    letter-spacing: 1px;
}

.text06 {
    font-family: "微軟正黑體";
    font-size: 16px;
    line-height: 22px;
    color: #FFFF66;
    text-decoration: none;
    letter-spacing: 1px;
}

.text07 {
    font-family: "微軟正黑體";
    font-size: 16px;
    line-height: 22px;
    color: #FBDDD2;
    text-decoration: none;
    letter-spacing: 1px;
}

.text08 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #1F8192;
    text-decoration: none;
}

.text09 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    text-decoration: none;
}

.list01 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 20px;
    text-decoration: none;
    background-image: url(../img/icon20.gif);
    background-repeat: no-repeat;
    background-position: left center;
    padding-top: 3px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-left: 20px;
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: #CCCCCC;
}

    .list01:hover {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        line-height: 20px;
        text-decoration: none;
        background-image: url(../img/icon20.gif);
        background-repeat: no-repeat;
        background-position: left center;
        padding-top: 3px;
        padding-right: 5px;
        padding-bottom: 2px;
        padding-left: 20px;
        border-bottom-width: 1px;
        border-bottom-style: dashed;
        border-bottom-color: #CCCCCC;
        background-color: #FFFFCC;
    }

.link01 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 20px;
    color: #999999;
    text-decoration: none;
}

    .link01:hover {
        color: #009999;
    }

.top_menu_style {
    height: 80px;
}

.bottom_style {
    position: absolute;
    top: 400px;
    width: 100%;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.tittle_line01 {
    background-image: url(../img/icon05.gif);
    background-repeat: no-repeat;
    background-position: left center;
    height: 2px;
    background-color: #D4EDEB;
}

.tittle01 {
    font-family: "微軟正黑體";
    font-size: 20px;
    line-height: 25px;
    font-weight: normal;
    /*color: #27A0B6;*/
    color: #F0641C;
    text-decoration: none;
    background-image: url(../img/icon04.gif);
    background-repeat: no-repeat;
    background-position: left center;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 12px;
}

.tittle02 {
    font-family: "微軟正黑體";
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
}

.tittle03 {
    font-family: "微軟正黑體";
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    color: #CC3300;
    text-decoration: none;
}

.tittle04 {
    font-family: "微軟正黑體";
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    color: #336633;
    text-decoration: none;
}

.table01 {
    background-color: #e7fcff;
    margin: 2px;
    padding: 5px;
    border: 1px solid #aadae1;
}

.table02 {
    background-color: #FFFFFF;
    margin: 2px;
    padding: 5px;
    border: 1px solid #CCCCCC;
}

.table02-1 {
    background-color: #E7FCFF;
    margin: 2px;
    padding: 5px;
    border: 1px solid #CCCCCC;
}

.table02-2 {
    background-color: #FDD2E6;
    margin: 2px;
    padding: 5px;
    border: 1px solid #CCCCCC;
}

.table02-3 {
    background-color: #E1F0F7;
    margin: 2px;
    padding: 5px;
    border: 1px solid #CCCCCC;
}

.table02-4 {
    background-color: #CCCCFF;
    margin: 2px;
    padding: 5px;
    border: 1px solid #CCCCCC;
}

div.comy_pdtList table {
    table-layout: auto;
}

.table03_01 {
    width: 5px;
}

.table03_02_01 {
    background-image: url(../img/bg0301.gif);
    background-repeat: no-repeat;
    background-position: left bottom;
    height: 9px;
}

.table03_02_02 {
    background-image: url(../img/bg0302.gif);
    background-repeat: no-repeat;
    background-position: left top;
    height: 9px;
}

.table03_02_03 {
    background-image: url(../img/bg0303.gif);
    background-repeat: repeat;
}

.table03_04_01 {
    background-image: url(../img/bg0304.gif);
    background-repeat: no-repeat;
    background-position: right bottom;
    height: 9px;
}

.table03_04_02 {
    background-image: url(../img/bg0305.gif);
    background-repeat: no-repeat;
    background-position: right top;
    height: 9px;
}

.table03_04_03 {
    background-image: url(../img/bg0306.gif);
    background-repeat: repeat;
}

.table04 {
    background-color: #FFFFFF;
    padding: 5px;
    border: 1px solid #CCCCCC;
    margin-top: 0px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.table_tittle01 {
    background-image: url(../img/bg02.gif);
    background-repeat: repeat;
    background-position: left top;
    font-family: "微軟正黑體";
    font-size: 14px;
    line-height: 27px;
    color: #333333;
    text-decoration: none;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
}

.table_tittle02 {
    /*background-image: url(../img/bg04_bf.jpg);
	background-repeat: repeat-x;
	background-position: left top;*/
    background-color: #f8f7de;
    -webkit-transition: background-color 0.2s linear;
    background: -webkit-gradient(linear,left bottom,left top,color-stop(.2, #f2b952),color-stop(.8, #f8f7de));
    font-family: "微軟正黑體";
    font-size: 14px;
    line-height: 27px;
    color: #333333;
    text-decoration: none;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
}

.table_tittle03 {
    background-image: url(../img/bg02_bf.jpg);
    background-repeat: repeat-x;
    background-position: left top;
    font-family: "微軟正黑體";
    font-size: 14px;
    line-height: 27px;
    color: #333333;
    text-decoration: none;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
}

.table_tittle04 {
    background-image: url(../img/bg05.gif);
    background-repeat: repeat-x;
    background-position: left top;
    font-family: "微軟正黑體";
    font-size: 14px;
    line-height: 27px;
    color: #333333;
    text-decoration: none;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
}

.table_main01 {
    background-color: #CCCCCC;
}

.left_menu_top {
    background-color: #FFFFFF;
    background-image: url(../img/left_menu01.gif);
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 59px;
}

.left_menu_main {
    background-color: #FFFFFF;
    background-image: url(../img/left_menu02.gif);
    background-repeat: repeat-y;
    background-position: center top;
}

.left_menu_bottom {
    background-color: #FFFFFF;
    background-image: url(../img/left_menu03.gif);
    background-repeat: no-repeat;
    background-position: center top;
    height: 27px;
}

.leftmenu {
    width: 140px;
}

.leftmenu02 {
    color: #333333;
    background-image: url(../img/left_menu04.gif);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    text-decoration: none;
    line-height: 25px;
    height: 25px;
    font-family: "微軟正黑體";
    font-size: 16px;
    font-weight: normal;
    margin: 0px;
    width: 100%;
    position: static;
    float: left;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 28px;
}

#leftmenu ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    background-image: none;
    position: static;
    width: 140px;
}

#leftmenu li {
    width: 140px;
}

#leftmenu a {
    color: #666666;
    text-decoration: none;
    line-height: 25px;
    height: 25px;
    font-family: "微軟正黑體";
    font-size: 16px;
    font-weight: normal;
    margin: 0px;
    width: 100%;
    position: static;
    float: left;
    background-image: url(../img/left_menu04.gif);
    background-repeat: no-repeat;
    background-position: 0px -25px;
    /*padding-top: 0px;*/
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 28px;
}

    #leftmenu a:hover {
        color: #333333;
        background-image: url(../img/left_menu04.gif);
        background-repeat: no-repeat;
        background-position: 0px 0px;
    }

.leftmenu {
    width: 140px;
}

.leftmenu02 {
    color: #333333;
    background-image: url(../img/left_menu04.gif);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    text-decoration: none;
    line-height: 25px;
    height: 25px;
    font-family: "微軟正黑體";
    font-size: 16px;
    font-weight: normal;
    margin: 0px;
    width: 100%;
    position: static;
    float: left;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 28px;
}

#topmenu ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    background-image: none;
    height: 25px;
    width: 100%;
}

#topmenu li {
    height: 34px;
    position: relative;
    list-style-image: none;
    list-style-type: none;
    float: left;
    width: auto;
    /*background-image: url(../img/left_menu05.gif);
	background-repeat: no-repeat;
	background-position: left top;*/
    font-family: "微軟正黑體";
    font-size: 18px;
    line-height: 34px;
    text-decoration: none;
    text-indent: 10px;
}

#topmenu a {
    color: #666666;
    text-decoration: none;
    line-height: 34px;
    font-family: "微軟正黑體";
    font-size: 18px;
    font-weight: normal;
    float: left;
    /*background-image: url(../img/left_menu05.gif);
	background-repeat: no-repeat;	
	background-position: 0px 0px;*/
    /*position: absolute;*/
    position: relative;
    height: 34px;
    width: 100%;
    /*text-indent: 35px;*/
    padding: 0px;
    margin: 0px;
}

    #topmenu a.onSelect {
        /*color: #333333;   
	background-image: url(../img/left_menu051.gif);
	background-repeat: no-repeat;*/
        color: #000;
        font-weight: bold;
    }

    #topmenu a:hover {
        color: #ed6d00;
        font-weight: bold;
        /*background-image: url(../img/left_menu051.gif);
	background-repeat: no-repeat;*/
    }

.input001 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 20px;
    color: #666666;
    background-color: #FBDDD2; /* May:20141107 add */
    text-decoration: none;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
}

.table_list01 {
    background-color: #FFFFFF;
}

.table_list01_mainPdt {
    background-color: #D7FFD7;
}

.table_list01:hover {
    background-color: #FFFFCC;
}

.table_list01_TabHelp {
    background-color: #FFC0CB;
}

.btn_mourse {
    /*padding-right: 1px;*/
    padding-left: 1px;
    font-size: 13px;
    cursor: hand;
    padding-top: 1px;
    padding-bottom: 1px;
    border: 0px solid #CCCCCC;
    color: #000000;
    width: auto;
    border-right: solid 1px #999;
    border-bottom: solid 1px #999;
}

.btn_mouse {
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    PADDING-TOP: 3px;
    margin-left: 2px;
    FONT-SIZE: 15px;
    CURSOR: hand;
    border: 1px solid #CCCCCC;
    color: #CC0000;
}

.btn_mourse_blue {
    /*background-image: url('../img/bg02.gif'); 
	background-repeat:repeat-x;
	PADDING-RIGHT: 1px;
	PADDING-LEFT: 1px;
	PADDING-TOP: 3px;
	margin-left: 2px;
	font-size: 14px;
	cursor: hand;
	color: #333333;
	border: 1px solid #CCCCCC;*/
    clear: both;
    color: #e7fcff;
    background: #7dc44e;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font-family: arial;
    font-size: 12px;
    /*font-weight: bold;*/
    text-align: center;
    cursor: pointer;
    border: none;
    text-shadow: 1px 1px #333333;
    margin: 0 4px;
    padding: 3px 4px;
}

    .btn_mourse_blue:hover {
        background: #fc4104;
        color: #fff;
    }

.btn_mourse_red {
    clear: both;
    color: #fff;
    background: #dc4262;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font-family: arial;
    font-size: 12px;
    /*font-weight: bold;*/
    text-align: center;
    cursor: pointer;
    border: none;
    text-shadow: 0px 1px #333333;
    margin: 0 4px;
    padding: 3px 4px;
}

    .btn_mourse_red:hover {
        background: #4c9021;
    }



.NumInt_R {
    text-align: right;
    ime-mode: disabled;
    padding: 1px;
}

.NumInt_L {
    text-align: left;
    ime-mode: disabled;
}

#busy-symbol {
    position: fixed;
    top: 200px;
    left: 200px;
}

#custTab, .custTab ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    background-image: none;
    height: 25px;
    width: 100%;
}

#custTab , .custTab li {
    height: 18px; /*34px*/
    position: relative;
    list-style-image: none;
    list-style-type: none;
    float: left;
    width: 100px; /*180px*/
    font-family: "微軟正黑體";
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
    text-indent: 0px;
    top: 0px;
    left: 0px;
}

#custTab , .custTab a {
    color: #333333;
    text-decoration: none;
    line-height: 18px;
    font-family: "微軟正黑體";
    font-size: 12px;
    font-weight: normal;
    float: left;
    background-image: url(../img/left_menu056.png);
    background-repeat: no-repeat;
    background-position: 0px -18px;
    position: absolute;
    height: 18px;
    width: 100px;
    text-indent: 20px;
    padding: 0px;
    /*margin-top: 0px;*/
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

    #custTab , .custTab a.onSelect {
        color: #333333;
        background-image: url(../img/left_menu056.png);
        background-repeat: no-repeat;
        background-position: 0px 0px;
    }

    #custTab, .custTab  a:hover {
        color: #333333;
        background-image: url(../img/left_menu056.png);
        background-repeat: no-repeat;
        background-position: 0px 0px;
    }




#custTabAll ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    background-image: none;
    height: 25px;
    width: 100%;
}

#custTabAll li {
    height: 18px; /*34px*/
    position: relative;
    list-style-image: none;
    list-style-type: none;
    float: left;
    width: 100px; /*180px*/
    font-family: "微軟正黑體";
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
    text-indent: 0px;
    top: 0px;
    left: 0px;
}

#custTabAll a {
    color: #333333;
    text-decoration: none;
    line-height: 18px;
    font-family: "微軟正黑體";
    font-size: 12px;
    font-weight: normal;
    float: left;
    background-image: url(../img/left_menu056.png);
    background-repeat: no-repeat;
    background-position: 0px -18px;
    position: absolute;
    height: 18px;
    width: 100px;
    text-indent: 15px;
    padding: 0px;
    /*margin-top: 0px;*/
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

    #custTabAll a.onSelect {
        color: #333333;
        background-image: url(../img/left_menu056.png);
        background-repeat: no-repeat;
        background-position: 0px 0px;
    }

    #custTabAll a:hover {
        color: #333333;
        background-image: url(../img/left_menu056.png);
        background-repeat: no-repeat;
        background-position: 0px 0px;
    }


#panelwrap {
    width: 1000px;
    background-color: #FFFFFF;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    border: 6px solid #edc988;
    margin: 20px auto;
    /*margin-top: 20px;
	margin-right: auto;
	margin-bottom: 20px;
	margin-left: auto;*/
}

.header {
    width: 100%;
    height: auto;
}

.title {
    font-size: 26px;
    float: left;
    padding: 10px 0;
    /*padding-right: 0px;
	padding-left: 0px;
	padding-top: 25px;
	padding-bottom: 18px;*/
}

    .title a {
        color: #366082;
        font-family: 'Belgrano', serif;
    }

.header_right {
    float: right;
    padding: 20px 20px 0 0;
}

    .header_right a {
        margin: 0 0 0 5px;
        color: #000000;
        font-weight: bold;
    }

        .header_right a.settings {
            background: url(../images/tb/settings.png) no-repeat left;
            padding: 0 0 0 22px;
        }

        .header_right a.logout {
            background: url(../images/tb/logout.png) no-repeat left;
            padding: 0 0 0 22px;
        }

.center_content {
    clear: both;
    width: 100%;
    padding: 0 0 50px 0;
}

.loginheader {
    width: 100%;
    height: auto;
    text-align: center;
}

.logintitle {
    font-size: 26px;
    padding: 25px 0 0 0px;
}

    .logintitle a {
        color: #ef8200;
        font-family: "Microsoft YaHei", "Microsoft JhengHei", Arial;
        font-weight: bold;
    }

/*.bmenu{ float:left; clear:both; padding:27px 0 0 15px;}*/
.bmenu {
    float: left;
    clear: both;
    padding: 0px 0 0 15px;
}

    .bmenu ul {
        padding: 0px;
        margin: 0px;
        list-style: none;
    }

        .bmenu ul li {
            float: left;
            padding: 0px;
            margin: 0px;
            font-size: 13px;
        }

            .bmenu ul li a {
                display: block;
                float: left;
                background-color: #ef8200;
                padding: 7px 12px 5px 12px;
                color: #FFF;
                text-decoration: none;
                margin: 0 4px 0 0;
                -moz-border-radius-topleft: 6px;
                -webkit-border-top-left-radius: 6px;
                -khtml-border-top-left-radius: 6px;
                border-top-left-radius: 6px;
                -moz-border-radius-topright: 6px;
                -webkit-border-top-right-radius: 6px;
                -khtml-border-top-right-radius: 6px;
                border-top-right-radius: 6px;
            }

                .bmenu ul li a.selected {
                    display: block;
                    float: left;
                    background-color: #edcd66;
                    padding: 7px 12px 5px 12px;
                    color: #000;
                    text-decoration: none;
                    margin: 0 4px 0 0;
                    -moz-border-radius-topleft: 6px;
                    -webkit-border-top-left-radius: 6px;
                    -khtml-border-top-left-radius: 6px;
                    border-top-left-radius: 6px;
                    -moz-border-radius-topright: 6px;
                    -webkit-border-top-right-radius: 6px;
                    -khtml-border-top-right-radius: 6px;
                    border-top-right-radius: 6px;
                }

                .bmenu ul li a:hover {
                    background-color: #edcd66;
                }

.clear {
    clear: both;
}

a {
    color: #0291d4;
    text-decoration: none;
}

    a#closebt {
        position: absolute;
        top: 130px;
        left: 208px;
        outline: none;
        z-index: 999;
    }

    a#openbt {
        position: absolute;
        top: 130px;
        left: 0px;
        outline: none;
        display: none;
        z-index: 999;
    }

    a.button {
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        font-family: arial;
        font-size: 12px;
        font-weight: bold;
        padding: 8px 12px 8px 12px;
        text-align: center;
        cursor: pointer;
        margin: 10px 10px 0 0;
        float: left;
    }

.red {
    color: #fff;
    background: #eb8484;
    text-shadow: 1px 1px #cc5959;
}

.green {
    color: #fff;
    background: #7dc44e;
    text-shadow: 1px 1px #4c9021;
}

.red:hover {
    background-color: #d96060;
}

.green:hover {
    background-color: #69b736;
}

.submenu {
    width: 100%;
    height: auto;
    background-color: #edcd66;
    clear: both;
    float: left;
}

    .submenu ul {
        padding: 5px 0 5px 25px;
        margin: 0px;
        list-style: none;
        color: #00F;
        text-decoration: underline;
    }

        .submenu ul li {
            float: left;
            padding: 0px;
            margin: 0px;
        }

            .submenu ul li a {
                display: block;
                float: left;
                padding: 3px 6px 3px 6px;
                color: #000;
                text-decoration: none;
                margin: 5px 4px 10px 0;
                font-size: 12px;
            }

                .submenu ul li a.selected {
                    display: block;
                    float: left;
                    padding: 3px 6px 3px 6px;
                    color: #FFFFFF;
                    text-decoration: none;
                    margin: 5px 4px 8px 0;
                    color: #FFFFFF;
                    font-size: 12px;
                    background-color: #366082;
                    -moz-border-radius: 5px;
                    -webkit-border-radius: 5px;
                    -khtml-border-radius: 5px;
                    border-radius: 5px;
                }

                .submenu ul li a:hover {
                    background-color: #366082;
                    color: #FFFFFF;
                    -moz-border-radius: 5px;
                    -webkit-border-radius: 5px;
                    -khtml-border-radius: 5px;
                    border-radius: 5px;
                }


.sidebar {
    width: 222px;
    float: left;
    margin-left: -100%;
    padding: 0px 0 0 0px;
    position: relative;
    left: 0px;
}

    .sidebar h2 {
        width: 187px;
        margin: 10px 10px 0 10px;
        -moz-border-radius-topleft: 6px;
        -webkit-border-top-left-radius: 6px;
        -khtml-border-top-left-radius: 6px;
        border-top-left-radius: 6px;
        -moz-border-radius-topright: 6px;
        -webkit-border-top-right-radius: 6px;
        -khtml-border-top-right-radius: 6px;
        border-top-right-radius: 6px;
        background-color: #d75304;
        color: #FFFFFF;
        font-size: 14px;
        font-weight: bold;
        padding: 10px 0 10px 15px;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: #e89869;
    }

    .sidebar ul {
        background-color: #FFFFFF;
        list-style: none;
        width: 170px;
        border: 1px #D6D6D6 solid;
        border-top: none;
        padding: 10px 15px 15px 15px;
        margin: 0px 0 15px 10px;
        -moz-border-radius-bottomleft: 6px;
        -webkit-border-bottom-left-radius: 6px;
        -khtml-border-bottom-left-radius: 6px;
        border-bottom-left-radius: 6px;
        -moz-border-radius-bottomright: 6px;
        -webkit-border-bottom-right-radius: 6px;
        -khtml-border-bottom-right-radius: 6px;
        border-bottom-right-radius: 6px;
    }

        .sidebar ul li {
            border-bottom: 1px #ededed solid;
        }

            .sidebar ul li a {
                color: #000000;
                display: block;
                padding: 5px 0 5px 5px;
            }

                .sidebar ul li a:hover {
                    background-color: #ededed;
                }

.sidebar_section_text {
    background-color: #FFFFFF;
    width: 170px;
    border: 1px #D6D6D6 solid;
    border-top: none;
    padding: 10px 15px 15px 15px;
    margin: 0px 0 15px 10px;
    -moz-border-radius-bottomleft: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -khtml-border-bottom-left-radius: 6px;
    border-bottom-left-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -khtml-border-bottom-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

#right_wrap {
    float: left;
    width: 100%;
}

#right_content {
    margin: 10px 10px 10px 232px;
}

.form_sub_buttons {
    padding: 0 0 20px 0;
    float: left;
}

#right_content h2 {
    background-color: #f07b00;
    margin: 0px;
    clear: both;
    -moz-border-radius-topleft: 6px;
    -webkit-border-top-left-radius: 6px;
    -khtml-border-top-left-radius: 6px;
    border-top-left-radius: 6px;
    -moz-border-radius-topright: 6px;
    -webkit-border-top-right-radius: 6px;
    -khtml-border-top-right-radius: 6px;
    border-top-right-radius: 6px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 0 10px 15px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #f0ae69;
}


.rounded-corner {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    /*margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;*/
    margin: 0px;
    background-color: #f4f9fd;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

    .rounded-corner th {
        padding: 8px;
        font-weight: bold;
        font-size: 14px;
        color: #5e2707;
        background-color: #ffbd6e;
        border: 1px solid #d4d4d4;
    }

    .rounded-corner tr.odd td {
        padding: 4px;
        /*border-top: 1px solid #fff;*/
        color: #666;
        background-color: #f4f9fd;
        border: 1px solid #d4d4d4;
    }

    .rounded-corner tr.even td {
        padding: 4px;
        border: 1px solid #d4d4d4;
        color: #666;
        background-color: #fbead4;
    }

    .rounded-corner tfoot td {
        background: #dde8f0;
        font-size: 11px;
        padding: 8px 8px 8px 15px;
        -moz-border-radius-bottomleft: 6px;
        -webkit-border-bottom-left-radius: 6px;
        -khtml-border-bottom-left-radius: 6px;
        border-bottom-left-radius: 6px;
        -moz-border-radius-bottomright: 6px;
        -webkit-border-bottom-right-radius: 6px;
        -khtml-border-bottom-right-radius: 6px;
        border-bottom-right-radius: 6px;
    }

    .rounded-corner tbody tr:hover td {
        background-color: #fff2a8;
    }


.picset {
    float: right;
    margin-top: 10px;
    margin-bottom: 1px;
}

.hdd {
    font-family: "Microsoft YaHei", "Microsoft JhengHei", Arial;
    font-size: 14px;
    /*float: right;*/
    /*margin-right: 30px;*/
    float: left;
    /*margin-left:150px;*/
    margin-top: 10px;
    color: #F00;
}

/* 客戶管理 */
ul#navigation {
    height: 26px;
    padding: 4px 20px 0 30px;
    width: 904px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

    ul#navigation li {
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        float: left;
        /*width: 130px;*/
        /*background-color: #0689cb;
	border: solid 1px #0689cb;*/
        position: relative;
        z-index: 1;
        margin-top: 0;
        margin-right: 5px;
        margin-bottom: 0;
        margin-left: 0;
    }

        ul#navigation li.selected {
            /*z-index: 3;*/
        }

        ul#navigation li.shadow {
            width: 910px;
            height: 2px;
            position: absolute;
            bottom: -3px;
            left: 22px;
            border: none;
            background: none;
            /*z-index: 2;*/
            -webkit-box-shadow: #111 0 -2px 6px;
            -moz-box-shadow: #111 0 -2px 6px;
            box-shadow: #111 0 -2px 6px;
        }

        ul#navigation li a:link, ul#navigation li a:visited {
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            border-radius: 6px;
            display: block;
            text-align: center;
            width: 130px;
            height: 30px;
            line-height: 26px;
            font-family: "微軟正黑體", "Microsoft JhengHei UI", "Arial Unicode MS";
            text-transform: uppercase;
            text-decoration: none;
            font-size: 16px;
            font-weight: bold;
            color: #fff;
            letter-spacing: 1px;
            outline: none;
            float: left;
            -webkit-transition: background-color 0.3s linear;
            -moz-transition: background-color 0.3s linear;
            -o-transition: background-color 0.3s linear;
            /*background-color: #0689cb;*/
            background-color: #d75304;
        }

        ul#navigation li a:hover {
            /*background-color: #ea5800;*/
            background-color: #0689cb;
        }

        ul#navigation li.selected a:link, ul#navigation li.selected a:visited {
            /*color: #d75304;*/
            color: #030c1e;
            border: solid 1px #f5bc02;
            background-color: #f2b952;
            -webkit-transition: background-color 0.2s linear;
            background: -webkit-gradient(linear,left bottom,left top,color-stop(.8, #f2b952),color-stop(.2, #f5bc02));
        }

.badge-find {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #7706BD;
    border-radius: 10px;
}


.searchform {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fbead4;
    border: solid 1px rgba(0, 0, 0, .075);
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.btn_search {
    color: #fff;
    background-color: #4c9021;
    margin: 4px;
    padding: 4px 10px;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.60);
}

.btn_clear {
    color: #fff;
    background-color: #4d1d60;
    margin: 4px;
    padding: 4px 10px;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}


.tabcontent {
    padding: 10px;
    clear: both;
    border: 1px #ddd solid;
    margin: 0 0 15px 0;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -khtml-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -khtml-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.subhead {
    padding: 8px;
    border: 1px #ddd solid;
    margin: 0 0 2px 0;
    text-align: center;
    background-color: #ffbd6e;
    color: #5e2707;
    font-size: 16px;
    font-weight: bold;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    -khtml-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    -khtml-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
}
