﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Manager/MasterPage_LeftBar.master" AutoEventWireup="true" CodeBehind="Schedule.aspx.cs" Inherits="tabc_201709.Manager.Schedule" %>

<%@ Register src="ascx/DateRange.ascx" tagname="DateRange" tagprefix="uc3" %>

<%@ Register src="ascx/selCustomer.ascx" tagname="selCustomer" tagprefix="uc1" %>
<%@ Register src="ascx/DateTimeRange.ascx" tagname="DateTimeRange" tagprefix="uc2" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder2" runat="Server">
    <asp:Label ID="lbl_PageTitle" runat="server"></asp:Label>
    <link href="/js/fullcalendar-3.7.0/fullcalendar.min.css" rel="stylesheet" />
    <link href="/js/fullcalendar-3.7.0/fullcalendar.print.min.css" rel="stylesheet" media='print' />
    <script src="/js/fullcalendar-3.7.0/lib/moment.min.js"></script>
    <script src="/js/fullcalendar-3.7.0/fullcalendar.min.js"></script>
    <script src="/js/fullcalendar-3.7.0/locale/zh-tw.js"></script>
    <script>
        $(document).ready(function () {
            $('#calendar').fullCalendar({
                themeSystem: 'jquery-ui',
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                editable: true,
                eventLimit: true,
                timeFormat: 'HH:mm',
                events: function (start, end, timezone, callback) {
                    $.ajax({
                        url: '/WCF/ScheduleCalendar.asmx/List',
                        success: function (response) {
                            var events = [];

                            var array = response.ListItem;
                            $.each(array, function (i, item) {
                                events.push({
                                    title: item.title,
                                    start: item.start,
                                    end: item.end,
                                    url: item.url,
                                    color: item.color,

                                });
                            });

                            callback(events);
                        }
                    });
                },

            });
        });
    </script>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder4" runat="Server">
    <asp:UpdatePanel ID="UpdatePanel2" runat="server">
        <ContentTemplate>
            <asp:LinkButton ID="lnkMaintain" runat="server" CommandName="1"
                CssClass="MainHeadTdLink" OnCommand="lnk_Command"><img src="<%=ResolveUrl("images/add.png") %>" border="0" style="vertical-align:bottom" /> 新增行程</asp:LinkButton>
            &nbsp;&nbsp;&nbsp;
            <asp:LinkButton ID="lnkBrowse" runat="server" CommandName="0"
                CssClass="MainHeadTdLink" OnCommand="lnk_Command"><img src="<%=ResolveUrl("images/view.png") %>" border="0" style="vertical-align:bottom" /> 行程清單</asp:LinkButton>
            &nbsp;&nbsp;&nbsp;
            <asp:LinkButton ID="lnkBrowse0" runat="server" CommandName="2" CssClass="MainHeadTdLink" OnCommand="lnk_Command"><img src="<%=ResolveUrl("images/view.png") %>" border="0" style="vertical-align:bottom" /> 查看月曆</asp:LinkButton>
        </ContentTemplate>
        <Triggers>
            <asp:AsyncPostBackTrigger ControlID="lnkMaintain" />
            <asp:PostBackTrigger ControlID="lnkBrowse" />
            <asp:PostBackTrigger ControlID="lnkBrowse0" />
        </Triggers>
    </asp:UpdatePanel>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder3" runat="Server">
    <asp:UpdatePanel ID="UpdatePanel1" runat="server">
        <ContentTemplate>
            <asp:Panel ID="Panel_Form" runat="server">
                <asp:MultiView ID="MultiView1" runat="server">
                    <asp:View ID="View1" runat="server">
                        <table align="center" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td align="center" height="3">
                                    <table cellpadding="0" cellspacing="0" class="QueryMainTable">
                                        <tr>
                                            <td align="center" class="tdQueryHead" colspan="2">行程日期：</td>
                                            <td align="center" class="tdQueryData">
                                                <uc3:DateRange ID="DateRange2" runat="server" />
                                            </td>
                                            <td align="center" class="tdQueryHead">種類：</td>
                                            <td align="center" class="tdQueryData">
                                                <asp:DropDownList ID="ddlSh_SC_Kind" runat="server" AutoPostBack="True" OnSelectedIndexChanged="ddlSh_SC_Kind_SelectedIndexChanged"></asp:DropDownList>
                                            </td>
                                            <td align="center" class="tdQueryHead">項目：</td>
                                            <td align="center" class="tdQueryData">
                                                
                                                <asp:DropDownList ID="ddlSh_SC_Plan" runat="server"></asp:DropDownList>
                                                
                                            </td>
                                            <td align="center" width="85" rowspan="3">
                                                <asp:Button ID="btnSearch" runat="server" CssClass="btnSearch" OnClick="btnSearch_Click" Text="查詢" />
                                            </td>
                                            <td align="center" width="35" rowspan="3">
                                                <asp:Button ID="btnRestQuery" runat="server" CssClass="btnRefresh" OnClick="btnRestQuery_Click" Width="30px" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center" class="tdQueryHead">行程進度：</td>
                                            <td align="center" class="tdQueryData" colspan="2">
                                                <asp:DropDownList ID="ddlSh_SC_State" runat="server"></asp:DropDownList>
                                            </td>
                                            <td align="center" class="tdQueryHead">客戶姓名：</td>
                                            <td align="center" class="tdQueryData">
                                                <asp:TextBox ID="txtSh_SC_CustName" runat="server"></asp:TextBox>
                                            </td>
                                            <td align="center" class="tdQueryHead">客戶類別：</td>
                                            <td align="center" class="tdQueryData">
                                                <asp:DropDownList ID="ddlSh_SC_CustType" runat="server"></asp:DropDownList>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center" class="tdQueryHead">&nbsp;</td>
                                            <td align="center" class="tdQueryData" colspan="2">&nbsp;</td>
                                            <td align="center" class="tdQueryHead">&nbsp;</td>
                                            <td align="center" class="tdQueryData">&nbsp;</td>
                                            <td align="center" class="tdQueryHead">回報</td>
                                            <td align="center" class="tdQueryData">
                                                <asp:DropDownList ID="ddlSh_SC_Inreply" runat="server">
                                                    <asp:ListItem Value=""></asp:ListItem>
                                                    <asp:ListItem Value="Y">已回報</asp:ListItem>
                                                    <asp:ListItem Value="N">未回報</asp:ListItem>
                                                </asp:DropDownList>
                                            </td>
                                        </tr>
                                    </table>
                                    <table border="0" cellpadding="5" cellspacing="0" class="tablePageCtrl">
                                        <tr>
                                            <td>
                                                <asp:DropDownList ID="ddlPageRow" runat="server" AutoPostBack="True"
                                                    CssClass="ddlPage">
                                                </asp:DropDownList>
                                            </td>
                                            <td>
                                                <asp:DropDownList ID="ddlPageChange" runat="server" AutoPostBack="True"
                                                    CssClass="ddlPage">
                                                </asp:DropDownList>
                                            </td>
                                            <td>
                                                <asp:Label ID="labGridViewRows" runat="server" CssClass="GridPageCount"
                                                    Width="120px"></asp:Label>
                                            </td>
                                            <td>
                                                <asp:LinkButton ID="lbtnPageCtrlFirst" runat="server" CommandName="First"
                                                    CssClass="btnPage_first" Width="50px">第一頁</asp:LinkButton>
                                            </td>
                                            <td>
                                                <asp:LinkButton ID="lbtnPageCtrlPrev" runat="server" CommandName="Prev"
                                                    CssClass="btnPage_pre" Width="50px">上一頁</asp:LinkButton>
                                            </td>
                                            <td>
                                                <asp:LinkButton ID="lbtnPageCtrlNext" runat="server" CommandName="Next"
                                                    CssClass="btnPage_next" Width="50px">下一頁</asp:LinkButton>
                                            </td>
                                            <td>
                                                <asp:LinkButton ID="lbtnPageCtrlLast" runat="server" CommandName="Last"
                                                    CssClass="btnPage_final" Width="50px">最後頁</asp:LinkButton>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <asp:GridView ID="GridView1" runat="server"
                                        AutoGenerateColumns="False" CssClass="GridViewTable"
                                        DataSourceID="ObjectDataSource1" EmptyDataText="查無符合資料!!!"
                                        OnSelectedIndexChanged="GridView1_SelectedIndexChanged"
                                        EnableModelValidation="True" OnLoad="GridView1_Load">
                                        <PagerSettings Visible="False" />
                                    </asp:GridView>
                                    <asp:ObjectDataSource ID="ObjectDataSource1" runat="server" EnablePaging="True"
                                        SelectCountMethod="GetCount" SelectMethod="DataReader"
                                        TypeName="DataScheduleM"></asp:ObjectDataSource>
                                </td>
                            </tr>
                        </table>
                    </asp:View>
                    <asp:View ID="View2" runat="server">
                        <table  align="center" border="0" cellpadding="2" cellspacing="1"
                            width="100%">
                            <tr>
                                <td width="100%">
                                    <table border="0" cellpadding="2" cellspacing="1" width="100%">
                                        <tr>
                                            <td align="right" class="MS_tdTitle" width="120">客戶</td>
                                            <td class="tdData10s">
                                                <uc1:selCustomer ID="selCustomer1" runat="server" OnSelectedIndexChanged="selCustomer_SelectedIndexChanged" OnRefreshButtonClick="selCustomer_RefreshButtonClick" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right" class="MS_tdTitle" width="120">行程日期</td>
                                            <td class="tdData10s">
                                                <uc2:DateTimeRange ID="DateTimeRange1" runat="server" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right" class="MS_tdTitle" width="120">地點</td>
                                            <td class="tdData10s">
                                                <asp:TextBox ID="txt_SC_Address" runat="server" Width="300px"></asp:TextBox>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right" class="MS_tdTitle" width="120">種類</td>
                                            <td class="tdData10s">
                                                <asp:DropDownList ID="ddl_SC_Kind" runat="server" AutoPostBack="True" OnSelectedIndexChanged="ddl_SC_Kind_SelectedIndexChanged">
                                                </asp:DropDownList>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right" class="MS_tdTitle" width="120">項目</td>
                                            <td class="tdData10s">
                                                <asp:DropDownList ID="ddl_SC_Plan" runat="server">
                                                </asp:DropDownList>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right" class="MS_tdTitle" width="120">提醒</td>
                                            <td class="tdData10s">
                                                <asp:CheckBox ID="cbox_SC_Remind" runat="server" Text="須系統提醒客戶" />
                                                &nbsp;<asp:DropDownList ID="ddl_SC_Days" runat="server">
                                                </asp:DropDownList>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right" class="MS_tdTitle" width="120">分數</td>
                                            <td class="tdData10s">
                                                <asp:TextBox ID="txt_SC_Score" runat="server" Width="60px"></asp:TextBox>
                                                &nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td align="right" class="MS_tdTitle" width="120">回報</td>
                                            <td class="tdData10s">
                                                <asp:CheckBox ID="cbox_SC_Inreply" runat="server" Text="已回報" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right" class="MS_tdTitle" width="120">行程進度</td>
                                            <td class="tdData10s">
                                                <asp:DropDownList ID="ddl_SC_State" runat="server">
                                                </asp:DropDownList>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right" class="MS_tdTitle" width="120">商機</td>
                                            <td class="tdData10s">
                                                <asp:TextBox ID="txt_SC_Remark" runat="server" Rows="10" TextMode="MultiLine" Width="98%"></asp:TextBox>
                                                </td>
                                        </tr>
                                        <tr>
                                            <td align="right" class="MS_tdTitle" width="120">歷史紀錄</td>
                                            <td class="tdData10s">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td align="center" class="tdMaintainButton" colspan="2">
                                                <asp:Button ID="btnAppend" runat="server" CommandName="Append" CssClass="btnAppend" OnCommand="btn_Command" Text="存檔" />
                                                <asp:Button ID="btnEdit" runat="server" CommandName="Edit" CssClass="btnSave" OnCommand="btn_Command" Text="存檔" />
                                                <asp:Button ID="btnDelete" runat="server" CommandName="Delete" CssClass="btnDelete" OnClientClick="return confirm(&quot;確定要刪除嗎?&quot;);" OnCommand="btn_Command" Text="刪除" />
                                                <asp:Button ID="btnCancel" runat="server" CommandName="Cancel" CssClass="btnCancel" OnCommand="btn_Command" Text="取消" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center" colspan="2" style="height: 20px">
                                                <table cellpadding="0" cellspacing="0">
                                                    <tr>
                                                        <td align="left" style="line-height: 125%">
                                                            <asp:Label ID="lbl_Msg" runat="server" CssClass="errmsg12"></asp:Label>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <asp:HiddenField ID="hif_TransNo" runat="server" />
                                                <asp:HiddenField ID="hif_SC_UidNo" runat="server" />
                                                <asp:HiddenField ID="hif_CU_TransNo" runat="server" />
                                            </td>
                                        </tr>
                                        </tr>
                        </table>
                    </asp:View>
                    <asp:View ID="View3" runat="server">
                        <div id="calendar">
                        </div>
                    </asp:View>
                </asp:MultiView>
            </asp:Panel>
        </ContentTemplate>
    </asp:UpdatePanel>


</asp:Content>
