﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Calendar.ascx.cs" Inherits="tabc_201709.Manager.ascx.Calendar" %>
<iframe width="220"  height="163" scrolling="no" frameborder="0" src="/manager/ascx/ScheduleCalendar.aspx"></iframe>