﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="logout.ascx.cs" Inherits="tabc_201709.Manager.ascx.logout" %>

<asp:imagebutton id="img_signoff"
    runat="server" imageurl="~/Manager/images/signoff_1.png"
    onclick="img_signoff_Click" onmouseout="this.src='images/signoff_1.png';"
    onmouseover="this.src='images/signoff_2.png';" tooltip="" onclientclick='return confirm("確定要登出嗎?");' />
