﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="selColor.ascx.cs" Inherits="tabc_201709.Manager.ascx.selColor" %>

<table border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td width="100">
            <asp:TextBox ID="txt_color" runat="server" MaxLength="7" Width="100px"></asp:TextBox>
        </td>
        <td>
            <table runat="server" id="ShowSCB" cellpadding="0" cellspacing="0" style="height: 21px; width: 21px; border: 1px solid #CCCCCC; margin: 1px">
                <tr>
                    <td>
                    </td>
                </tr>
            </table>
        </td>
        <td>
            <asp:Literal ID="Literal_seltor" runat="server"></asp:Literal>
        </td>
    </tr>
</table>
