﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="connector_.aspx.cs" Trace="true" Inherits="wowbowow.js.ckeditor.plugins.ckfinder.core.connector.aspx.connector_" %>
<%@ Register Src="~/js/ckeditor/plugins/ckfinder/config.ascx" TagName="Config" TagPrefix="CKFinder" %>

<CKFinder:Config ID="ConfigFile" runat="server" />
