﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Manager/MasterPage_View.master" AutoEventWireup="true" CodeBehind="Km.aspx.cs" Inherits="tabc_201709.Manager.Km" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder5" runat="server">
    <asp:Label ID="lbl_PageTitle" runat="server"></asp:Label>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder6" runat="server">
    <div align="right">
    <asp:Label ID="lbl_emNo" runat="server" Font-Names="微軟正黑體" Font-Size="Small" 
                                            ForeColor="White"></asp:Label>
&nbsp;&nbsp;&nbsp;
                                        <asp:Label ID="lbl_updateDate" runat="server" Font-Names="微軟正黑體" 
                                            Font-Size="Small" ForeColor="White"></asp:Label>
</div>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder4" runat="server">
    <table cellpadding="0" cellspacing="0">
    <tr>
        <td align="left">
            <asp:Literal ID="Literal_description" runat="server"></asp:Literal>
        </td>
    </tr>
</table>
</asp:Content>
