﻿.tableMaster
{
	width: 100%;
}

.tdLeftBar
{
	width: 200px;
}

.tdMainS
{
	width: 100%;
	vertical-align: top;
	text-align: right;
}

.tdMainSS
{
	width: 100%;
}

.tdMain
{
	width: 100%;
}

.td10
{
	font-size: 10pt;
}

.td12
{
	font-size: 12pt;
}
/*
a
{
	color: #FF9999;
	font-style: normal;
	text-decoration: none;
}

a:hover
{
	color: #F54714;
	text-decoration: underline;
}

.alink
{
	color: #3399FF;
	text-decoration: underline;
}

.alink:hover
{
	color: #FF6600;
	text-decoration: underline;
}
*/