﻿body{
    font-family:微軟正黑體;
}
/** 系統按鈕 **/
.btnAppend
{
    background: #f4f4f4 no-repeat 10px center;
    background-image: url("../images/File-add-icon.png"),url("../../images/File-add-icon.png");
    cursor:pointer;
    border: 1px solid #999999;
    font-size: 15px;
    font-family:微軟正黑體;
    padding: 3px 10px 3px 28px;
    margin: 0px 10px 0px 10px;
    color: #181818;
    border-radius: 4px;
}
.btnAppend:hover
{
    background: #eaeaea no-repeat 10px center;
    background-image: url("../images/File-add-icon.png"),url("../../images/File-add-icon.png");
}
.btnSave
{
    background: #f4f4f4 no-repeat 10px center;
    background-image: url("../images/File-save-icon.png"),url("../../images/File-save-icon.png");
    cursor:pointer;
    border: 1px solid #999999;
    font-size: 15px;
    font-family:微軟正黑體;
    padding: 3px 10px 3px 28px;
    margin: 0px 10px 0px 10px;
    color: #181818;
    border-radius: 4px;
}
.btnSave:hover
{
    background: #eaeaea no-repeat 10px center;
    background-image: url("../images/File-save-icon.png"),url("../../images/File-save-icon.png");
}
.btnSave2
{
    background: #f4f4f4 no-repeat 10px center;
    background-image: url("../images/File-save-icon.png"),url("../../images/File-save-icon.png");
    cursor:pointer;
    border: 1px solid #999999;
    font-size: 15px;
    font-family:微軟正黑體;
    padding: 3px 10px 3px 28px;
    margin: 1px 1px 1px 1px;
    color: #181818;
    border-radius: 4px;
}
.btnSave2:hover
{
    background: #eaeaea no-repeat 10px center;
    background-image: url("../images/File-save-icon.png"),url("../../images/File-save-icon.png");
}
.btnEdit
{
    background: #f4f4f4 no-repeat 10px center;
    background-image: url("../images/File-edit-icon.png"),url("../../images/File-edit-icon.png");
    cursor:pointer;
    border: 1px solid #999999;
    font-size: 15px;
    font-family:微軟正黑體;
    padding: 3px 10px 3px 28px;
    margin: 1px 1px 1px 1px;
    color: #181818;
    border-radius: 4px;
}
.btnEdit:hover
{
    background: #eaeaea no-repeat 10px center;
    background-image: url("../images/File-edit-icon.png"),url("../../images/File-edit-icon.png");
}
.btnDelete
{
    background: #f4f4f4 no-repeat 10px center;
    background-image: url("../images/File-delete-icon.png"),url("../../images/File-delete-icon.png");
    cursor:pointer;
    border: 1px solid #999999;
    font-size: 15px;
    font-family:微軟正黑體;
    padding: 3px 10px 3px 28px;
    margin: 0px 10px 0px 10px;
    color: #181818;
    border-radius: 4px;
}
.btnDelete:hover
{
    background: #eaeaea no-repeat 10px center;
    background-image: url("../images/File-delete-icon.png"),url("../../images/File-delete-icon.png");
}
.btnDelete2
{
    background: #f4f4f4 no-repeat 10px center;
    background-image: url("../images/File-delete-icon.png"),url("../../images/File-delete-icon.png");
    cursor:pointer;
    border: 1px solid #999999;
    font-size: 15px;
    font-family:微軟正黑體;
    padding: 3px 10px 3px 28px;
    margin: 1px 1px 1px 1px;
    color: #181818;
    border-radius: 4px;
}
.btnDelete2:hover
{
    background: #eaeaea no-repeat 10px center;
    background-image: url("../images/File-delete-icon.png"),url("../../images/File-delete-icon.png");
}
.btnCancel
{
    background: #f4f4f4 no-repeat 10px center;
    background-image: url("../images/File-cancel-icon.png"),url("../../images/File-cancel-icon.png");
    cursor:pointer;
    border: 1px solid #999999;
    font-size: 15px;
    font-family:微軟正黑體;
    padding: 3px 10px 3px 28px;
    margin: 0px 10px 0px 10px;
    color: #181818;
    border-radius: 4px;
}
.btnCancel:hover
{
    background: #eaeaea no-repeat 10px center;
    background-image: url("../images/File-cancel-icon.png"),url("../../images/File-cancel-icon.png");
}
.btnCancel2
{
    background: #f4f4f4 no-repeat 10px center;
    background-image: url("../images/File-cancel-icon.png"),url("../../images/File-cancel-icon.png");
    cursor:pointer;
    border: 1px solid #999999;
    font-size: 15px;
    font-family:微軟正黑體;
    padding: 3px 10px 3px 28px;
    margin: 1px 1px 1px 1px;
    color: #181818;
    border-radius: 4px;
}
.btnCancel2:hover
{
    background: #eaeaea no-repeat 10px center;
    background-image: url("../images/File-cancel-icon.png"),url("../../images/File-cancel-icon.png");
}
.btnCopy
{
    background: #f4f4f4 no-repeat 10px center;
    background-image: url("../images/Copy-icon.png"),url("../../images/Copy-icon.png");
    cursor:pointer;
    border: 1px solid #999999;
    font-size: 15px;
    font-family:微軟正黑體;
    padding: 3px 10px 3px 28px;
    margin: 0px 10px 0px 10px;
    color: #181818;
    border-radius: 4px;
}
.btnCopy:hover
{
    background: #eaeaea no-repeat 10px center;
    background-image: url("../images/Copy-icon.png"),url("../../images/Copy-icon.png");
}
.btnExport
{
    background: #f4f4f4 no-repeat 10px center;
    background-image: url("../images/export.png"),url("../../images/export.png");
    cursor:pointer;
    border: 1px solid #999999;
    font-size: 15px;
    font-family:微軟正黑體;
    padding: 3px 10px 3px 28px;
    margin: 0px 10px 0px 10px;
    color: #181818;
    border-radius: 4px;
}
.btnExport:hover
{
    background: #eaeaea no-repeat 10px center;
    background-image: url("../images/export.png"),url("../../images/export.png");
}
.btnChat
{
    background: #f4f4f4 no-repeat 10px center;
    background-image: url("../images/Chat-icon.png"),url("../../images/Chat-icon.png");
    cursor:pointer;
    border: 1px solid #999999;
    font-size: 15px;
    font-family:微軟正黑體;
    padding: 3px 10px 3px 28px;
    margin: 0px 10px 0px 10px;
    color: #181818;
    border-radius: 4px;
}
.btnChat:hover
{
    background: #eaeaea no-repeat 10px center;
    background-image: url("../images/Chat-icon.png"),url("../../images/Chat-icon.png");
}
.btnPrint
{
    background: #f4f4f4 no-repeat 10px center;
    background-image: url("../images/Print-icon.png"),url("../../images/Print-icon.png");
    cursor:pointer;
    border: 1px solid #999999;
    font-size: 15px;
    font-family:微軟正黑體;
    padding: 3px 10px 3px 28px;
    margin: 0px 10px 0px 10px;
    color: #181818;
    border-radius: 4px;
}
.btnPrint:hover
{
    background: #eaeaea no-repeat 10px center;
    background-image: url("../images/Print-icon.png"),url("../../images/Print-icon.png");
}
.btnDownload
{
    background: #f4f4f4 no-repeat 10px center;
    background-image: url("../images/document-arrow-down-icon.png"),url("../../images/document-arrow-down-icon.png");
    cursor:pointer;
    border: 1px solid #999999;
    font-size: 15px;
    font-family:微軟正黑體;
    padding: 3px 10px 3px 28px;
    margin: 0px 10px 0px 10px;
    color: #181818;
    border-radius: 4px;
}
.btnDownload:hover
{
    background: #eaeaea no-repeat 10px center;
    background-image: url("../images/document-arrow-down-icon.png"),url("../../images/document-arrow-down-icon.png");
}
.btnExcute
{
    background: #f4f4f4 no-repeat 10px center;
    background-image: url("../images/excute.png"),url("../../images/excute.png");
    cursor:pointer;
    border: 1px solid #999999;
    font-size: 15px;
    font-family:微軟正黑體;
    padding: 3px 10px 3px 28px;
    margin: 0px 10px 0px 10px;
    color: #181818;
    border-radius: 4px;
}
.btnExcute:hover
{
    background: #eaeaea no-repeat 10px center;
    background-image: url("../images/excute.png"),url("../../images/excute.png");
}
.btnRefresh
{
    background: #f4f4f4 no-repeat 10px center;
    background-image: url("../images/refresh.png"),url("../../images/refresh.png");
    cursor:pointer;
    border: 1px solid #999999;
    font-size: 15px;
    font-family:微軟正黑體;
    padding: 3px 10px 3px 28px;
    margin: 0px 5px 0px 5px;
    color: #181818;
    border-radius: 4px;
}
.btnRefresh:hover
{
    background: #eaeaea no-repeat 10px center;
    background-image: url("../images/refresh.png"),url("../../images/refresh.png");
}
.btnSearch
{
    background: #f4f4f4 no-repeat 10px center;
    background-image: url("../images/Search-icon.png"),url("../../images/Search-icon.png");
    cursor:pointer;
    border: 1px solid #999999;
    font-size: 15px;
    font-family:微軟正黑體;
    padding: 3px 10px 3px 28px;
    margin: 0px 5px 0px 5px;
    color: #181818;
    border-radius: 4px;
}
.btnSearch:hover
{
    background: #eaeaea no-repeat 10px center;
    background-image: url("../images/Search-icon.png"),url("../../images/Search-icon.png");
}
.btnAddAll
{
    background: #f4f4f4 no-repeat 10px center;
    background-image: url("../images/Forward-btn-icon.png"),url("../../images/Forward-btn-icon.png");
    cursor:pointer;
    border: 1px solid #999999;
    font-size: 15px;
    font-family:微軟正黑體;
    padding: 3px 10px 3px 28px;
    margin: 0px 5px 0px 5px;
    color: #181818;
    border-radius: 4px;
}
.btnAddAll:hover
{
    background: #eaeaea no-repeat 10px center;
    background-image: url("../images/Forward-btn-icon.png"),url("../../images/Forward-btn-icon.png");
}
.btnRemoveAll
{
    background: #f4f4f4 no-repeat 10px center;
    background-image: url("../images/Back-btn-ion.png"),url("../../images/Back-btn-ion.png");
    cursor:pointer;
    border: 1px solid #999999;
    font-size: 15px;
    font-family:微軟正黑體;
    padding: 3px 10px 3px 28px;
    margin: 0px 5px 0px 5px;
    color: #181818;
    border-radius: 4px;
}
.btnRemoveAll:hover
{
    background: #eaeaea no-repeat 10px center;
    background-image: url("../images/Back-btn-ion.png"),url("../../images/Back-btn-ion.png");
}

.btnCompare {
    background-position: 10px center;
    background-image: url("../images/Editing-Compare-icon.png"),url("../../images/Editing-Compare-icon.png");
    cursor: pointer;
    border: 1px solid #999999;
    font-size: 15px;
    font-family: 微軟正黑體;
    padding: 3px 10px 3px 28px;
    color: #181818;
    border-radius: 4px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    background-color: #f4f4f4;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

    .btnCompare:hover {
        background: #eaeaea no-repeat 10px center;
        background-image: url("../images/Editing-Compare-icon.png"),url("../../images/Editing-Compare-icon.png");
    }
/** **/

/** 跳頁按鈕 **/
.btnPage_first
{
    background: #f6f6f6 no-repeat 5px center;
    background-image: url("../images/page_first.png"),url("../../images/page_first.png");
    cursor:pointer;
    font-size: 14px;
    font-family:微軟正黑體;
    padding: 2px 5px 2px 21px;
    margin: 0px 0px 0px 0px;
    color: #555555;
    border-radius: 4px;
    text-decoration: none;
    border: 1px solid #cccccc;
}
.btnPage_first:hover
{
    background: #fcfcfc no-repeat 5px center;
    background-image: url("../images/page_first.png"),url("../../images/page_first.png");
    cursor:pointer;
    font-size: 14px;
    font-family:微軟正黑體;
    padding: 2px 5px 2px 21px;
    margin: 0px 0px 0px 0px;
    color: #555555;
    border-radius: 4px;
    text-decoration: none;
    border: 1px solid #cccccc;
}

.btnPage_final
{
    background: #f6f6f6 no-repeat 55px center;
    background-image: url("../images/page_final.png"),url("../../images/page_final.png");
    cursor:pointer;
    font-size: 14px;
    font-family:微軟正黑體;
    padding: 2px 21px 2px 5px;
    margin: 0px 0px 0px 0px;
    color: #555555;
    border-radius: 4px;
    text-decoration: none;
    border: 1px solid #cccccc;
}
.btnPage_final:hover
{
    background: #fcfcfc no-repeat 55px center;
    background-image: url("../images/page_final.png"),url("../../images/page_final.png");
    cursor:pointer;
    font-size: 14px;
    font-family:微軟正黑體;
    padding: 2px 21px 2px 5px;
    margin: 0px 0px 0px 0px;
    color: #555555;
    border-radius: 4px;
    text-decoration: none;
    border: 1px solid #cccccc;
}

.btnPage_pre
{
    background: #f6f6f6 no-repeat 5px center;
    background-image: url("../images/page_pre.png"),url("../../images/page_pre.png");
    cursor:pointer;
    font-size: 14px;
    font-family:微軟正黑體;
    padding: 2px 5px 2px 21px;
    margin: 0px 0px 0px 0px;
    color: #555555;
    border-radius: 4px;
    text-decoration: none;
    border: 1px solid #cccccc;
}
.btnPage_pre:hover
{
    background: #fcfcfc no-repeat 5px center;
    background-image: url("../images/page_pre.png"),url("../../images/page_pre.png");
    cursor:pointer;
    font-size: 14px;
    font-family:微軟正黑體;
    padding: 2px 5px 2px 21px;
    margin: 0px 0px 0px 0px;
    color: #555555;
    border-radius: 4px;
    text-decoration: none;
    border: 1px solid #cccccc;
}

.btnPage_next
{
    background: #f6f6f6 no-repeat 55px center;
    background-image: url("../images/page_next.png"),url("../../images/page_next.png");
    cursor:pointer;
    font-size: 14px;
    font-family:微軟正黑體;
    padding: 2px 21px 2px 5px;
    margin: 0px 0px 0px 0px;
    color: #555555;
    border-radius: 4px;
    text-decoration: none;
    border: 1px solid #cccccc;
}
.btnPage_next:hover
{
    background: #fcfcfc no-repeat 55px center;
    background-image: url("../images/page_next.png"),url("../../images/page_next.png");
    cursor:pointer;
    font-size: 14px;
    font-family:微軟正黑體;
    padding: 2px 21px 2px 5px;
    margin: 0px 0px 0px 0px;
    color: #555555;
    border-radius: 4px;
    text-decoration: none;
    border: 1px solid #cccccc;
}

.ddlPage
{
    background: #f6f6f6;
    cursor:pointer;
    font-size: 13px;
    font-family:微軟正黑體;
    margin: 0px 0px 0px 0px;
    padding: 2px 2px 2px 2px;
    border-radius: 2px;
    color: #555555;
    border-radius: 4px;
    border: 1px solid #cccccc;
}
.ddlPage:hover
{
    background: #fcfcfc;
    font-size: 13px;
    font-family:微軟正黑體;
    margin: 0px 0px 0px 0px;
    padding: 2px 2px 2px 2px;
    border-radius: 2px;
    color: #555555;
    border-radius: 4px;
    border: 1px solid #cccccc;
}

.tablePageCtrl
{
    height: 40px;
	background: repeat-x center center;
    background-image: url('../images/ClassLink_tbg.gif'),url('../../images/ClassLink_tbg.gif');
	border-top-style: dotted; 
	border-top-width: 1px; 
	border-top-color: #ffffff;
    width:100%;
}
.tablePageCtrl td
{
    text-align:center;
}

.GridPageCount
{
	font-size: 16px;
	color: #555555;
	font-family:微軟正黑體;
}

.GridPageCountInt
{
	font-size: 14px;
	color: #336699;
	font-family:微軟正黑體;
}

/** **/

.button_default
{
    background: repeat-x center 0px;
    background-image: url("../images/button_default.png"),url("../../images/button_default.png");
    cursor:pointer;
    border: 1px solid #DADADA;
    font-size: 13px;
    font-family:微軟正黑體;
    padding: 3px 12px ;
    color: #8D8B8B;
}
.button_default:hover
{
    background: repeat-x bottom 0px;
    background-image: url("../images/button_default.png"),url("../../images/button_default.png");
    cursor:pointer;
    color: #666666;
}
.MainTopLink
{
    background-image: url('../images/dashboard_thumb_white.png'),url('../../images/dashboard_thumb_white.png');
    background-repeat:no-repeat;
    background-position:center center;
    border-radius: 5px;
}

.MainTopLink:hover
{
    background-image: url('../images/dashboard_thumb_blue.png'),url('../../images/dashboard_thumb_white.png');
    background-repeat:no-repeat;
    background-position:center center;
    border-radius: 5px;
}
.MainHeadTdLink
{
    font-size : 16px;
	color: #FFFFFF;
	text-decoration: none;
}

.MainHeadTdLink:hover
{
    font-size : 16px;
	text-decoration: none;
	color: #0099cc;
}

.QueryMainTable
{
	text-align: center;
	background: repeat-x center bottom;
    background-image: url('../images/ClassLink_bg.gif'),url('../../images/ClassLink_bg.gif');
	padding: 5px 0px 5px 0px;
    width: 100%;
}

.QueryTable
{
	text-align: right;
	color: #333333;
	font-size: 10pt;
}

.MainEditTable
{
	width: 100%;
	vertical-align: top;
	text-align: center;
}


.tdMaintainButton
{
	background: repeat-x center center;
    background-image: url('../images/tdMainTainBtn.jpg'),url('../../images/tdMainTainBtn.jpg');
    padding: 10px 0px 10px 0px;
	vertical-align: middle;
}

.MS_tdTitle
{
	color: #444;
	font-size: 16px;
    padding :5px 5px 5px 0px;
	text-align: right;
	vertical-align: middle;
	background-color: #edcd66; 
	border-right-style: solid; 
	border-right-width: 5px; 
	border-right-color: #e7bd30;
    font-family: 微軟正黑體;

}


.tdHeadLeft
{
	width: 200px; /* font-weight: bold; */
	color: #FFFFCC;
	background-color: #3dbafe;
	text-align: left;
	background-image: url('../images/GvHeadLine.jpg'),url('../../images/GvHeadLine.jpg');
	background-repeat: repeat-x;
}

.tdHeadRight
{
	width: 600px;
	color: #3dbafe;
	background-color: #ffffe2;
	text-align: center;
	background-image: url('../images/HeadRight.jpg'),url('../../images/HeadRight.jpg');
	background-repeat: repeat-X;
}

.tdQueryHead
{
	text-align: right;
	color: #666666;
	font-size: 16px;
    font-family: 微軟正黑體;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.tdQueryHeadM
{
	text-align: right;
	font-weight: bold;
	color: #333333;
	font-size: 10pt;
}

.tdQueryData
{
	font-size: 10pt;
	text-align: left;
	color: #666666;
    font-family: 微軟正黑體;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.tdData10s
{
	text-align: left;
	background-color: #ebebeb;
	font-size: 10pt;
	padding :5px 0px 5px 5px;
}

.tdData10sAlter
{
	text-align: left;
	background-color: #DFDFDF;
}

.tdGridView
{
	vertical-align: top;
	text-align: center;
}



.tdSelect
{
}

.string10
{
	font-size: 10pt;
}

.GridViewTable
{
	vertical-align: top;
	text-align: center;
}

.GridViewHead
{
	font-size: 15px;
	color: #FFFFFF;
	background: repeat-x center top;
    background-image: url('../images/bg_tab.png'),url('../../images/bg_tab.png');
	height: 40px;
	vertical-align: middle;
	font-style:normal;
	font-family: 微軟正黑體;
    padding:3px;
}
.GridViewHead th
{
    padding: 0px 5px 0px 5px;
}
.GridViewHead a
{
	font-size: 15px;
	color: #95c600;
	vertical-align: middle;
	font-style:normal;
	font-family: 微軟正黑體;
	text-decoration:none;
}
.GridViewHead a:hover
{
	text-decoration:underline;
}

.GridViewHead2
{
	font-size: 10pt;
	color: #333333;
	background-color: #CCCCCC;
	background-image: url('../images/line_bg_02'),url('../../images/line_bg_02');
	background-repeat: repeat-x;
	height: 30px;
	vertical-align: middle;
	font-style: normal;
}

.GridViewHead1
{
	font-size: 10pt;
	color: #333333;
	background-color: #CCCCCC;
	background-image: url('../images/line_bg_01'),url('../../images/line_bg_01');
	background-repeat: repeat-x;
	height: 30px;
	vertical-align: middle;
	font-style: normal;
}

.GridViewItem
{
	font-size: 10pt;
	text-align: center;
}

.GridViewItem td
{
	padding:3px;
    word-break: break-all;
}

.GridViewAlterItem
{
	font-size: 10pt;
	background-color: #FAFAFA;
}


.GridViewSelectItem
{
	font-size: 10pt;
	color: #0084DB;
	background: repeat-x center center;
    background-image: url('../images/GVSelect.jpg'),url('../../images/GVSelect.jpg');
}

.GridViewCellLink
{
	text-decoration: underline;
	color: #0000FF;
}

.GridViewCellLinkBK
{
	color: #000000;
}

.GridViewCellLinkBK:hover
{
	color: #0066FF;
}




.FieldNameLink
{
	text-decoration: underline;
	color: #000000;
}

.FieldNameLink:hover
{
	text-decoration: underline;
	color: #FF5050;
}


.FieldNameLink2
{
	text-decoration: underline;
	color: #FF5050;
}

.FieldNameLink2:hover
{
	text-decoration: underline;
	color: #0099FF;
}

.EditLink
{
	color: #0066FF;
	text-decoration: underline;
}

.EditLink:hover
{
	color: #FF6666;
	text-decoration: underline;
}

.GridViewLink
{
	color: #0066CC;
	text-decoration: underline;
}

.GridViewLink:hover
{
	color: #272727;
}

.BtnLink
{
	color: #272727;
}

.BtnLink:hover
{
	color: #FF5050;
	font-weight: bold;
}

/* 顯示不可輸入欄位的控制  */
.labshow
{
	border-right: lightgrey 1px;
	border-top: lightgrey 1px;
	font-size: 10pt;
	border-left: lightgrey 1px;
	color: black;
	text-indent: 2pt;
	border-bottom: lightgrey 0px;
	background-color: #f4f1ee;
	text-decoration: none;
}

.TdHead
{
	font-size: 10pt;
}

/* 系統處理中的表格,輸入方塊所在儲存格樣版  */
.TdWord
{
	font-size: 10pt;
	text-indent: 2pt;
}

/* 隱藏GridView欄位*/
.GridViewColHidden
{
    display:none;
}
.GridViewColVisible
{
    display:block;
}


/* 幫助訊息的樣式 */
.hpFont
{
	font-size: 12px;
	color: #A5A5A5;
}

.FileUpdate
{
	background-color: #FFEEEE;
}